.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
src/doc/*
man/*
*~
src/mcupgma/clustering_round/bin/
src/mcupgma/clustering_util/bin/
src/mcupgma/clustering_round/obj*
src/mcupgma/clustering_util/obj*
